<div class="container">
    <mat-toolbar class="header">
            <div class="header-conteudo">
                <span>
                    <img class="imagem" src="assets/img/gamer-logo.png" alt="logo">
                </span>
                <span>
                    <h1 class="titulo">TSO GAMER</h1>
                </span>
            </div>
    </mat-toolbar>
    <div>
        <button class="btn btn-outline-success" type="button">AÇÃO</button>
        <button class="btn btn-outline-success" type="button">AVENTURA</button>
        <button class="btn btn-outline-success" type="button">FPS</button>
        <button class="btn btn-outline-success" type="button">RPG</button>
        <button class="btn btn-outline-success" type="button">ESPORTE</button>
        <button class="btn btn-outline-success" type="button">CORRIDA</button>
        <button class="btn btn-outline-success" type="button">SIMULADOR</button>
    </div>
</div>


